*{
    background-color: #1d2322;
    font-family: 'Recursive', sans-serif;
}
canvas{
    height:100vh;
    width: 100vw;
    background-color:#1d2322;
    z-index: -5;
}

  /* Change the link color on hover */
  li a:hover {
    background-color: #555;
    color: white;
  }
/* content */
#content{
    position: absolute;
    top: 1%;
    left: 250px;
    color: white;
}
#content h1{
    font-family: 'Recursive', sans-serif;
    font-size: 80px;
    font-weight: 600;
}
#letter{
    text-shadow: -8px 0 0 rgb(103, 221, 242);
    color:rgb(255, 80, 30); 
    cursor: pointer;
}

/* typewriter animation */
.typewriter{
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    white-space: nowrap; /* Keeps the content on a single line */
    letter-spacing: .01em; /* Adjust as needed */
    animation: 
      typing 3s steps(30,end);
    animation-fill-mode: forwards;
  }
  .t1{
    animation-delay: 1s;
  }
  .t2{
    animation-delay: 4s;
  }
  /* The typing effect */
  @keyframes typing {
    from { width:0 }
    to { width:100% }
  }
  
  /* The tags */
.tags{
    font-family: 'Caveat', cursive;
    color:rgb(171, 169, 169);
}

#content h3{
    color: rgb(175, 173, 173);
    font-size: 40px;
}

/* button */
.btn {		
    position: relative;	
	padding: 1rem 4rem;
	font-size: 1.4rem;
	color: rgb(103, 221, 242);
	letter-spacing: 1.1rem;
	text-transform: uppercase;
	transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);	
	cursor: pointer;
	user-select: none;
    width: 300px;
}

.btn:before, .btn:after {
	content: '';
	position: absolute;	
	transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
	z-index: 0;
}

/* .btn:hover {
	transition-delay: .5s;
} */
.btn:hover:before {
	transition-delay: .1s;
}

/* .btn:hover:after {
    color: pink;
    z-index: 10;
	transition-delay: .35s;
} */



/* From Left */

.from-left:before, 
.from-left:after {
	top: 0;
	width: 0;
	height: 100%;
}

.from-left:before {
	right: 0;
	border: 1px solid rgb(103, 221, 242);
	border-left: 0;
	border-right: 0;	
}

.from-left:after {
	left: 0;
}

.from-left:hover:before,
.from-left:hover:after {
	width: 100%;
}

/* scroll down.. */
.vertical{
    position: absolute;
    bottom: 10%;
    right:10px;
    writing-mode: vertical-lr;
    color: white;
    animation: scroll 2s infinite;
}

#arrow{
    position: absolute;
    bottom: 2%;
    right: 37px;
    color: white;
}

@keyframes scroll {
    0%{
        bottom: 8%;
    }
    50%{
        bottom:5%;
    }
    100%{
        bottom: 8%;
    }
}

#contact{
    position: absolute;
    left: 300px;
    color: white;
}

h2{
    font-family: 'Recursive', sans-serif;
   color: rgb(103, 221, 242);
   font-size: 80px; 
   font-weight:600; 
}
p{
    font-size: 30px;
}

/* Form */
form{
    width: 60%;
}
input, select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 30%;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: 2px solid rgb(103, 221, 242);
    border-radius: 4px;
    cursor: pointer;
    float:right;
  }
  
  input[type=submit]:hover {
    background-color: rgb(103, 221, 242);
    /* animation: */
  }

  textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    font-size: 16px;
    color: #ccc;
  }

