:root {
  --white-color: #fafafb;
  --background-color: #17171e;
  --grey-color: #b5b5be;
  --dark-grey-color: #292932;
}

* {
  box-sizing: border-box;
}

html,
body {
  font-family: 'Poppins', sans-serif;
  font-size: 62.5%;
  font-weight: 500;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.4rem;
  color: var(--white-color);
  height: 100vh;
  background-color: #fafafa;
}

.lead { font-size: 1.5rem; font-weight: 300; }
.container { margin: 150px auto; max-width: 960px; color: #000; }

.side-bar {
  width: 15rem;
  height: 100%;
  padding: 2.1rem 1.2rem;
  background-color: #17171e;
  position: fixed;
  top: 0;
}
.logo-name-wrapper{
  text-align : center;
  border: solid 1px grey;
}
.logo-name {
  font-family: 'Recursive', sans-serif;
  font-size: 90px;
  font-weight: 650;
}

.logo{
  font-size: 1.8rem;
  color: var(--grey-color);
}



.features-list {
  padding-bottom: 1rem;
  border-bottom: 1px solid #292932;
  list-style: none;
}

.features-item {
  display: flex;
  align-items: center;
  position: relative;
  padding: 0.5rem 0.9rem;
  margin-bottom: 1.1rem;
  color: var(--grey-color);
  cursor: pointer;
  transition: 0.5s ease;
}
.features-item::before {
  transition: 0.5s ease;
  content: '';
  position: absolute;
  left: -1.2rem;
  height: 100%;
  border-left: 3px solid var(--white-color);
  border-radius: 2px;
  opacity: 0;
  visibility: hidden;
}

.features-item:hover {
  color: var(--white-color);
  transition: 0.5s ease;
}

.features-item:hover::before {
  opacity: 1;
  visibility: unset;
}

.features-item-icon {
  font-size: 2rem;
}

.features-item-text {
  margin-left: 1.5rem;
  transition: opacity 0.6s ease;
  opacity: 1;
}

.icon {
  display: flex;
  align-items: center;
  position: relative;
  padding: 0.5rem 0.9rem;
  margin-bottom: 1.1rem;
  color: var(--grey-color);
  cursor: pointer;
  transition: 0.5s ease;
}
.icon::before {
  transition: 0.5s ease;
  content: '';
  position: absolute;
  left: -1.2rem;
  height: 100%;
  border-left: 3px solid var(--white-color);
  border-radius: 2px;
  opacity: 0;
  visibility: hidden;
}

.icon:hover {
  color: var(--white-color);
  transition: 0.5s ease;
}

.icon:hover::before {
  opacity: 1;
  visibility: unset;
}

.socials{
  position:absolute;
  bottom: 10%;
  font-size: 2rem;
  list-style: none;
  display: flex;
  padding: 0.5rem;
}

.socials .items{
  margin-left: 2rem;
  color: var(--grey-color);
  cursor: pointer;
  transition: 0.5s ease;
}

.items:hover{
  color: var(--white-color);
  transition: 0.5s ease;
}
.items:hover::before {
  opacity: 1;
  visibility: unset;
}
